
@model IEnumerable<Wissen.Model.Category>
@{
    ViewBag.Title = "Test";
}
<h2>Kategoriler</h2>
<!--<ol>
    @foreach(var item in Model)
    {
        <li>@item.Name (@item.Description) @item.CreatedAt.ToShortDateString()</li>
    }

</ol>-->
<a href="@Url.Action("Create")" class="btn btn-primary" >Yeni kategori</a>
<table class="table table-hover table-striped">
    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.CreatedAt.ToString("dd.MM.yyyy")</td>

        </tr>
    }

</table>